name: Build Zodiak Driver

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-2022

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Build Driver
      run: |
        msbuild src/Zodiak.sln `
        /p:Configuration=Release `
        /p:Platform=x64 `
        /p:TargetVersion="Windows10" `
        /p:SignMode=Off `
        /p:OutDir="D:\a\output\"

    - name: Upload Driver Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Zodiak-Driver
        path: D:\a\output\Zodiak.sys
